In [42]:
# import modules
from sklearn.datasets import load_iris
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import pandas as pd
import sagemaker

In [35]:
# detach dataset
iris = load_iris()
X = iris['data']
y = iris['target']
feature_names = iris['feature_names']
target_names = iris['target_names']

In [32]:
# scale features
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)

In [38]:
# train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.66, random_state=1)

In [52]:
# default sagemaker parameters
sagemaker_session = sagemaker.session.Session()
default_bucket = sagemaker_session.default_bucket()
prefix = 'iris-scikit-learn'
output_path = 's3://{}/{}'.format(default_bucket, prefix)
print('Current SageMaker session: {}'.format(sagemaker_session))
print('Current SageMaker default bucket: {}'.format(default_bucket))
print('Current output path: {}'.format(output_path))

Current SageMaker session: <sagemaker.session.Session object at 0x7fbb79f879b0>
Current SageMaker default bucket: sagemaker-us-east-1-385566775190
Current output path: s3://sagemaker-us-east-1-385566775190/iris-scikit-learn

In [56]:
pd.concat([pd.DataFrame(y_train), pd.DataFrame(X_train)], axis=1)

    0    0    1    2    3
0   0  5.5  3.5  1.3  0.2
1   2  7.7  3.8  6.7  2.2
2   2  6.9  3.1  5.4  2.1
3   2  7.3  2.9  6.3  1.8
4   2  6.4  2.8  5.6  2.2
.. ..  ...  ...  ...  ...
94  2  6.3  2.8  5.1  1.5
95  2  6.4  3.1  5.5  1.8
96  1  6.3  2.5  4.9  1.5
97  2  6.7  3.1  5.6  2.4
98  0  4.9  3.6  1.4  0.1

[99 rows x 5 columns]

In [57]:
# upload training data to s3 as csv without header and index
data_name = 'iris_clean.csv'
pd.concat([pd.DataFrame(y_train), pd.DataFrame(X_train)], axis=1).to_csv(data_name, header=False, index=False)
sagemaker_session.upload_data(data_name, bucket=default_bucket, key_prefix=prefix)

's3://sagemaker-us-east-1-385566775190/iris-scikit-learn/iris_clean.csv'