# Explorative data analysis

In [97]:
import os
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [98]:
# import corpus data
corpus = pd.read_csv('{}/{}'.format('data', 'corpus-5000.csv'))
corpus.head(2)

   class                                     processed_text
0      0  nigerian presid say cannot afford return delta...
1      0  least four kill british motorway crash polic l...

In [99]:
def count_features(values, keys):
    """
    tbd.
    """
    summed_values = values.sum(axis=0)
    zipped_dictionary = zip(summed_values, keys)
    sorted_zipped_dictionary = sorted(zipped_dictionary, reverse=True)
    return sorted_zipped_dictionary

In [100]:
def build_vocabulary(df, feature_size, n_gram_size):
    """
    tbd.
    """
    corpus = df['processed_text'].values
    vectorizer = CountVectorizer(max_features=feature_size, ngram_range=(n_gram_size, n_gram_size))
    feature_matrix = vectorizer.fit_transform(corpus)
    feature_vocabulary = vectorizer.get_feature_names() # feature order
    return feature_vocabulary, feature_matrix.toarray()

In [101]:
def ngram_statistics(df, select_class, feature_size, n_gram_size):
    """
    tbd.
    """
    selected_df = df.loc[df['class'] == select_class]
    vocabulary, matrix = build_vocabulary(selected_df, feature_size, n_gram_size)
    statistics = count_features(matrix, vocabulary)
    return statistics

In [104]:
def split_tuples(list_1, list_2):
        
    dict_1 = {}
    for detail in list_1:
        tmp_dict = {detail[1]: detail[0]}
        dict_1.update(tmp_dict)
    
    dict_2 = {}
    for detail in list_2:
        tmp_dict = {detail[1]: detail[0]}
        dict_2.update(tmp_dict)
    
    
    return dict_1, dict_2

In [117]:
def add_dicts(dict_1, dict_2):
    summed_dict = dict_2
    for key in dict_1:
        if key in dict_2:
            summed_dict[key] = dict_2[key] + dict_1[key]
        else:
            summed_dict.update({key: dict_1[key]}) 
    
    return summed_dict

In [145]:
def create_df_from_dict(from_dict, add_class):
    import_dict = {'key': list(from_dict.keys()), 'values': list(from_dict.values())}
    df = pd.DataFrame.from_dict(import_dict)
    df['class'] = add_class
    return df

In [151]:
def get_merged_vocabulary(df, feature_size, n_gram_size):
    
    # create statistics
    n_gram_0 = ngram_statistics(df, 0, feature_size, n_gram_size)
    n_gram_1 = ngram_statistics(df, 1, feature_size, n_gram_size)
    
    # create dicts from tuples
    dict_0, dict_1 = split_tuples(n_gram_0, n_gram_1)
    
    # create dataframes
    df_0 = create_df_from_dict(dict_0, 0)
    df_1 = create_df_from_dict(dict_0, 1)
    
    # merge dataframes
    df = pd.concat([df_0, df_1], axis=0)
    df.
    
    return df

## Determine 10 most used 1-gram per class and make a plot

In [102]:
# import corpus data
corpus = pd.read_csv('{}/{}'.format('data', 'corpus-5000.csv'))
corpus.head(2)

   class                                     processed_text
0      0  nigerian presid say cannot afford return delta...
1      0  least four kill british motorway crash polic l...

In [152]:
results = get_merged_vocabulary(corpus, 10, 1)

In [153]:
results

          key  values  class
0        said   10774      0
1       trump    6551      0
2       state    4436      0
3       would    3457      0
4      presid    3348      0
5        year    2543      0
6  republican    2530      0
7      govern    2321      0
8         say    1989      0
9       elect    1975      0
0        said   10774      1
1       trump    6551      1
2       state    4436      1
3       would    3457      1
4      presid    3348      1
5        year    2543      1
6  republican    2530      1
7      govern    2321      1
8         say    1989      1
9       elect    1975      1

In [103]:
# create statistics
top_10_1_gram_class_1 = ngram_statistics(corpus, 1, 10, 1)
top_10_1_gram_class_0 = ngram_statistics(corpus, 0, 10, 1)

In [119]:
dict_0, dict_1 = split_tuples(top_10_1_gram_class_0, top_10_1_gram_class_1)

In [131]:
dict_0

{'said': 10774,
 'trump': 6551,
 'state': 4436,
 'would': 3457,
 'presid': 3348,
 'year': 2543,
 'republican': 2530,
 'govern': 2321,
 'say': 1989,
 'elect': 1975}

In [142]:
import_dict_1 = {'key': list(dict_0.keys()), 'values': list(dict_0.values())}

In [141]:
list(dict_0.keys())

['said',
 'trump',
 'state',
 'would',
 'presid',
 'year',
 'republican',
 'govern',
 'say',
 'elect']

In [143]:
df_0 = pd.DataFrame.from_dict(import_dict_1)

In [144]:
df_0

          key  values
0        said   10774
1       trump    6551
2       state    4436
3       would    3457
4      presid    3348
5        year    2543
6  republican    2530
7      govern    2321
8         say    1989
9       elect    1975